

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dinokt Venture</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Our Process</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <div class="img-container">
    <img src="homedesk.jpeg" width=100%>
    <div class="on-top">
      <p class="img-text">
        Focus on your business</br>
        Let us handle the tech
      </p>
      <p class="img-text2">
        Instead of just building features based on your request,
        we focus on finding out your problems and provide necessary tech advices,
        just like your acting CTO!
      </p>
    </div>
    <!-- <div class="center-bottom-right">
      <h1>
        Focus on your business</br>
        Let us handle the tech
      </h1>
    </div> -->
  </div>

</div>
