

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dinokt Venture</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Our Process</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="top-content">
  <div class="img-container">
    <img src="/img/homedesk.jpeg">
  </div>
  <div class="on-top">
    <p class="img-text">
      Focus on your business</br>
      Let us handle the tech
    </p>
    <p class="img-text2">
      Instead of just building features based on your request,
      we focus on finding out your problems and provide necessary tech advices,
      just like your acting CTO!
    </p>
    <div class="buttonContainer">
      Find out how we can help
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Do you face any of the following challenges?
        </h2>
        <div class="midLine"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="challenge-item">
          <img class="content-img" src="/img/code.jpg">
          <div class="challenge-title">Expensive and no quality assurance!</div>
          <p>It's very hard for me to find good software developers at a
            reasonable cost. Worst thing is, even after I pay a significant
            development fee, I still end up with a low quality product
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="challenge-item">
          <img class="content-img" src="/img/great_ideas.jpg">
          <div class="challenge-title">Great idea! But how should I proceed?</div>
          <p>I have a great business idea but know nothing about tech. It is
            really hard for me to kick start the project and build the next unicorn
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="challenge-item">
          <img class="content-img" src="/img/business.jpg">
          <div class="challenge-title">They don't really care about my product</div>
          <p>Most freelancers just focus on churning out the product. They do
            not care much about whether the product is aligned with my business
            goals
          </p>
        </div>
      </div>
    </div>
  </div>
