.top-content{
  padding: 0px;
  text-align: center;
  overflow: hidden;
  max-height: 700px;
  position: relative;
  .img-container{
    img{
      min-width: 100%;
    }
  }
}

.challenge-item{
  width: 100%;
  overflow: hidden;
  text-align: center;
  .challenge-title{
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
  }
  .content-img{
    padding-left: auto;
    padding-right: auto;
    height: 300px;
  }
  p{
    text-align: justify;
  }
}

.container{
  text-align: center;
  position: relative;
}

.row{
  margin-top: 20px;
}

.on-top{
  position: absolute;
  top: 42%;
  left: 12%;
  max-width: 300px;
  text-align: left;
  font-family: helvetica, arial;
  color: #4A4A4A;
}

.img-text{
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}

.img-text2{
  font-size: 1em;
}
